<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <header>
        <div id ="login-container">
            <h1>Login</h1>
        </div>
    </header>
    <div id = "login-container2"></div>
        <% if (error) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>
        <form action="/login" method="POST">
            <label for="id">ID:</label>
            <input type="text" id="id" name="id" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
