<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 등록</title>
    <link rel="stylesheet" href="/stylesheets/board.css">
</head>

<body>
    <div class="title-bar">
        <h1>게시글 등록하기</h1>
        <div class="actions">
            <a href="/dashboard" class="back-button">메인으로 돌아가기</a>
            <a href="/boards">게시글 목록으로 돌아가기</a>
        </div>
    </div>

    <form action="/boards" method="post">
        <div>
            <label for="board_type">게시판 유형:</label>
            <select id="board_type" name="board_type" required>
                <option value="1">자유게시판</option>
                <option value="2">삽니다</option>
                <option value="3">팝니다</option>
            </select>
        </div>

        <input type="hidden" name="writer_id" value="<%= user.id %>">

        <div>
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="content">설명:</label>
            <textarea id="content" name="content"></textarea>
        </div>
        <button type="submit">등록하기</button>
    </form>
</body>

</html>