<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 등록</title>
    <link rel="stylesheet" href="/stylesheets/product.css">
</head>

<body>
    <div class="title-bar">
        <h1>상품 등록하기</h1>
        <div class="actions">
            <a href="/dashboard" class="back-button">메인으로 돌아가기</a>
            <a href="/products">상품 목록으로 돌아가기</a>
        </div>
    </div>
    
    <form action="/products" method="post">
        <div>
            <label for="name">상품명:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="price">가격:</label>
            <input type="number" id="price" name="price" required>
        </div>
        <div>
            <label for="description">설명:</label>
            <textarea id="description" name="description"></textarea>
        </div>
        <button type="submit">등록하기</button>
    </form>
</body>

</html>