/*전체 레이아웃*/
.container{
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border:1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    background-color: #fdfdfd;
}
h1,h2{
    margin-bottom: 20px;
}
/*포인트 섹션*/
.point{
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    background-color: antiquewhite;
    border-radius: 8px;
}
.points form{
    margin-top: 10px;
}

/*테이블 스타일*/
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table th, table td{
    border: 1px solid #ddd;
    text-align: middle;
    padding: 10px;
}
table th{
    background-color: orange;
}
table tbody tr:nth-child(even){
    background-color: gold;
}