/* All layout*/
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container{
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}
h1{
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}
table{
    width: 100px;
    border-collapse: collapse;
    margin-top: 20px;
}
table th, table td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
table th{
    background-color: orange;
    text-align: center;
}
table tbody tr:nth-child(even){
    background-color: gold;
}
table td{
    text-align: center;
}